.movies_container {
    margin: 15px;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.movies_container2 {
    margin: 12vh 3vh 12vh 0;
    max-width: 100%;
    display: flex;
}

.movies_h2 {
    margin: 15px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;

    &:hover {
        color: pink;
    }
}

.search-input {
    margin: 10px 10px 10px 0;
    padding: 8px;
    border: solid 2px;
    border-radius: 25px;
    border-color: orange;
    font-size: large; 
    ::placeholder {
        font-weight: bold;
    }

    &:hover,
    &:active {
        border-color: yellowgreen;
    }
}

.search-button {
    margin: 10px;
    padding: 8px 12px;
    background-color: orange;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover,
    &:active {
        background-color: yellowgreen;
        color: grey;
        font-size: large;
    }
}

.movies_list {
    list-style-type: none;
    padding: 0;
    margin: 25px 50px 25px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

    .movies_item {
        width: 25%;
        margin: 5px;
    }

    .movies_item a {
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        transition: color 0.3s ease;

        &:hover {
            color: pink;
        }
    }

.movies_image {
    width: 300px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
}
}