.home_div {
    padding: 20px;
    /* Wewnętrzny odstęp dla div */
    margin-top: 60px;
    /* Odległość od góry równa wysokości app_header */
    position: relative;
    /* Stała pozycja */
}

.home_h2 {
    color: #333;
    /* Kolor tekstu dla nagłówka */
}

.home_ul {
    list-style: none;
    padding: 0;
}

.home_li {
    margin-bottom: 10px;
    /* Odstęp między elementami listy */
}

