/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #370d50;
    color: #a98ec2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #894fbf;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    height: 4vh;
    border-radius: 25px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    color: pink;
    font-size: 1.25em;
    font-weight: bold;
}

nav ul li a.active {
    font-weight: bold;
    color: #ffcc00;
}

input {
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

input::placeholder {
    text-align: center;
}

input:focus {
    outline: none;
    border: 2px solid #ffcc00;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
} */

.back-link {
    display: block;
    margin-bottom: 10px;
    /* Dostosuj odległość od pozostałych elementów */
    text-decoration: none;
    color: #000;
    /* Dostosuj kolor tekstu */
    font-size: 16px;
    /* Dostosuj rozmiar tekstu */}