.MovieDetails_container {
    max-width: 600px;
    margin-top: 70px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(248, 216, 248);
    border-radius: 8px;
}

.MovieDetails_content {
    text-align: center;
}

.MovieDetails_h2 {
    color: #666;
    font-size: 24px;
    margin-bottom: 20px;
}

.MovieDetails_img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.MovieDetails_title {
    color: #666;
    font-size: 16px;
    line-height: 1.1;
    border-bottom: solid 1px #666;
    padding-bottom: 10px;
}

.MovieDetails_overview {
    color: #666;
    font-size: 16px;
    line-height: 1.1;
    border-bottom: solid 1px #666;
    padding-bottom: 10px;
    font-style: italic;
}

.MovieDetails_runtime {
    color: #666;
    font-size: 12px;
    line-height: 1.1;
}

.MovieDetails_info {
    color: #666;
    font-size: 16px;
    line-height: 1.1;
    border-bottom: solid 1px #666;
    padding-bottom: 10px;
    font-weight: bold;
}

.MovieDetails_loading {
    text-align: center;
    color: #999;
    font-size: 18px;
    padding: 20px;
}

 a {
text-decoration: none;
    color: #999;
    font-weight: bold;

    &:hover,
    &:active {
        color: pink;
        font-size: 1.25em;
        font-weight: bold;
    }
}

.MovieDetails_goBack {
    margin: 10px;
        padding: 8px 12px;
        background-color: orange;
        border: none;
        border-radius: 25px;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
    
        &:hover,
        &:active {
            background-color: yellowgreen;
            color: grey;
            font-size: large;
        }
}